<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>React App</title>
    <link rel="stylesheet" href="app.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Overpass:700" rel="stylesheet">
  </head>
  <body>
    <main class="ps-app">
      <h1 class="ps-title"><span class="ps-title--red">Poke</span>search</h1>

      <section class="ps-Pokesearch">
        <header class="ps-Pokesearch__header">
          <div class="ps-SearchBar">
            <input class="ps-SearchBar__input" type="search">
          </div>
        </header>
        <section>
          <article class="ps-PokemonCard">pikachu</article>
        </section>
      </section>
    </main>
  </body>
</html>
