.ps-app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
}

.ps-title {
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  color: hsla(240, 3%, 14%, 1);
  margin: 50px 0 0;
}

.ps-title--red {
  color: hsla(0, 86%, 51%, 1);
}

.ps-Pokesearch {
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  right: -10px;
}

