.ps-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 0 3px;
  border-radius: 2px;
  margin-right: 5px;
}

.ps--black {
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 20%);
}

.ps--hillary {
  color: hsl(0, 0%, 100%);
  background: #a8a878;
}

.ps--light_red {
  color: hsl(0, 0%, 100%);
  background: #f08030;
}

.ps--red {
  color: hsl(0, 0%, 100%);
  background: #c03028;
}

.ps--blue {
  color: hsl(0, 0%, 100%);
  background: #6890f0;
}

.ps--light_purple {
  color: hsl(0, 0%, 100%);
  background: #a890f0;
}

.ps--green {
  color: hsl(0, 0%, 100%);
  background: #78c850;
}

.ps--mauve {
  color: hsl(0, 0%, 100%);
  background: #a040a0;
}

.ps--yellow {
  color: hsl(0, 0%, 100%);
  background: #f8d030;
}

.ps--wheat {
  color: hsl(0, 0%, 100%);
  background: #e0c068;
}

.ps--dark_pink {
  color: hsl(0, 0%, 100%);
  background: #f85888;
}

.ps--brown {
  color: hsl(0, 0%, 100%);
  background: #b8a038;
}

.ps--light_blue {
  color: hsl(0, 0%, 100%);
  background: #98d8d8;
}

.ps--kaki {
  color: hsl(0, 0%, 100%);
  background: #a8b820;
}

.ps--purple {
  color: hsl(0, 0%, 100%);
  background: #7038f8;
}

.ps--wine {
  color: hsl(0, 0%, 100%);
  background: #705898;
}

.ps--dark_brown {
  color: hsl(0, 0%, 100%);
  background: #705848;
}

.ps--grey {
  color: hsl(0, 0%, 100%);
  background: #b8b8d0;
}

.ps--pink {
  color: hsl(0, 0%, 100%);
  background: #ee99ac;
}

.ps--turquoise {
  color: hsl(0, 0%, 100%);
  background: #68a090;
}
