.ps-PokemonCard {
  width: 480px;
  max-height: 350px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  transition: max-height 0.25s ease-out;
}

.ps-PokemonCard:hover,
.ps-PokemonCard:not(.ps-PokemonCard--short) {
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1)
}

.ps-PokemonCard--short {
  max-height: 100px;
}

.ps-PokemonCard__header {
  cursor: pointer;
  display: flex;
}

.ps-PokemonCard__details {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 250px;
}

.ps-PokemonCard__sidebar {
  background: hsl(0, 0%, 97%);
  margin-top: 20px;
  flex: 0 0 100px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 200px;
  border-right: 1px solid hsl(0, 0%, 80%);
}

.ps-PokemonCard__sidebar-item {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps-PokemonCard__sidebar-item:not(.ps-PokemonCard__sidebar-item--active) {
  cursor: pointer;
}

.ps-PokemonCard__sidebar-item:hover {
  background: hsl(0, 0%, 90%);
}

.ps-PokemonCard__sidebar-label {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: hsl(0, 0%, 45%);
}

.ps-PokemonCard__sidebar-item--active {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  border-left: none;
  border-right: none;
  position: relative;
}

.ps-PokemonCard__sidebar-item--active:hover {
  background: hsl(0, 0%, 100%);
}

.ps-PokemonCard__sidebar-item--active::after {
  content: "";
  position: absolute;
  right: -2px;
  width: 3px;
  height: 100%;
  background: hsl(0, 0%, 100%);
}

.ps-PokemonCard__sidebar-item--active > .ps-PokemonCard__sidebar-label {
  font-weight: 600;
  color: hsl(0, 0%, 20%);
}

.ps-PokemonCard__bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  border-top: 1px solid hsl(0, 0%, 80%);
}
